@import './components/Header.scss';
@import './components/Navbar.scss';
@import './components/Profile.scss';

.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h "
    "n c ";

  grid-template-rows: 90px 1fr;
  grid-template-columns: 3fr 10fr;
  grid-gap: 10px;


}








